.section-steps {
  padding: 70px 0;
  background-color: #f6f6f6;
  .row {
    background-color: #f6f6f6;
    .steps-box1 {
      margin-top: 20px;
      text-align: right;
      padding-right: 3%;
      background-color: #f6f6f6;
    }
    .steps-box2 {
      margin-top: 50px;
      padding-left: 3%;
      background-color: #f6f6f6;
      text-align: left;
      .social-icons {
        width: 100%;
        text-align: center;
        a {
          img {
            height: 50px;
            width: auto;
            margin: 0 30px;
          }
        }
      }

      .works-step {
        background-color: #f6f6f6;
        margin-bottom: 50px;
        &:last-of-type {
          margin-bottom: 80px;
        }
        p {
          padding-top: 10px;
        }
        .step-id {
          color: #c0392b;
          border: 2px solid #c0392b;
          display: inline-block;
          border-radius: 50%;
          height: 52px;
          width: 52px;
          text-align: center;
          padding: 5px;
          float: left;
          font-size: 200%;
          margin-right: 25px;
        }
      }
    }
    .social-screen {
      width: 100%;
    }
    h2 {
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 180%;
      word-spacing: 2px;
      text-align: center;
      margin-bottom: 30px;
      &::after {
        display: block;
        height: 2px;
        background-color: #c0392b;
        content: " ";
        width: 100px;
        margin: 0 auto;
        margin-top: 30px;
      }
    }
  }
}

//big tablets + : from 1024px to 1200px
@media only screen and (max-width: 1200px) {
  .section-steps {
    .social-box {
      padding: 0 3% !important;
    }
  }
}

//small tablet to big tablet: from 768px to 1023px
@media only screen and (max-width: 1023px) {
}

//small phones to small tablets: from 481px to 767px
@media only screen and (max-width: 767px) {
  .section-steps {
    .row {
      h2 {
        font-size: 140% !important;
      }
    }
    .social-box {
      .steps-box2 {
        .works-step {
          margin-bottom: 30px;
          .step-id {
            height: 40px;
            width: 40px;

            font-size: 180%;
            margin-right: 20px;
          }
          .steps-text {
            font-size: 85%;
          }
          &:last-of-type {
            margin-bottom: 35px !important;
          }
        }
      }
      .social-icons {
        .icon {
          width: auto !important;
          height: 35px !important;
          margin: 0 20px !important;
        }
      }
    }
  }
}

//small phones: from 0 to 480px
@media only screen and (max-width: 625px) {
  .section-steps {
    .social-box {
      .steps-box1 {
        width: 100%;
        .social-screen {
          width: 80%;
          height: auto;
          margin: 0 10%;
        }
      }
      .steps-box2 {
        width: 100%;
        .works-step {
          .step-id {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

//small phones: from 0 to 480px
@media only screen and (max-width: 480px) {
}
